<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helmios</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="object2">
        <h1>Helmios</h1>
        
        <br>

        <a onclick="displayText()" href="#" class="dots">
            <div class="dot"></div>
        </a>

    <div id="textField" style="display: none;">
        
        <div id="rectangle">
            <a href="/signup"><h4>Sign Up</h4></a>
            <a href="/login"><h4>Login</h4></a>
        </div>


    <script src="/scripts/home.js"></script>
</body>
</html>